
#apply-external-styling-here {
	color: yellow;
}

* {
	font-family: Arial light;
	font-size: 20px;
}

h1 {
	font-size: 300%;
}

#things-to-learn {
	text-transform: uppercase;
}

.language-option {
	background-color: #9fd69f;
}

input[border="1"]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

img + li {
}

div img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

img ~ p {
	font-family "Courier New": monospace;
}